@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<SeeNowProcess.Models.Project>

@{ 
    ViewBag.Title = "BacklogIndex";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/drag-and-drop-styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/PeopleStyles.css">
    <script src="~/Scripts/angularBacklog.js"></script>
    <style>
        .topped {
            top: 80px;
            position: absolute;
            left: 80vw;
        }
    .my-tabs {
    width: 18vw;
    }
    .control-label.text-left {
            text-align: left;
        }
    </style>
</head>

<body ng-app="backlog" ng-controller="backlogCtrl">
    <div class="topped" align="right" >
        <p ><strong>Current project:</strong></p>
        <select ng-model="currentProject" ng-init="currentProject=Session['project']">
            <option value="0">All projects</option>
        @foreach(var project in Model)
        {
            
            <option value="@project.ProjectID">@project.Name</option>
        }
        </select>

    </div>

    <div>
        <h4>User Stories</h4>
        <hr>
    </div>
    
    @*lista userstories*@
    <div>
        <ul class="people-list">
            <li ng-repeat="x in userstories"><a class="my-btn my-button" data-toggle="collapse" ng-click="showUserStory(x.UserSID,x.Title)">{{x.Title}}</a><hr></li>
            <li><input type="submit" class="btn green_button" value="ADD USERSTORY" data-toggle="modal" data-target="#UserStoryModal"></li>
        </ul>
    </div>


    <div class="people-information">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="userInterface">{{userstory}}</div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active my-tabs"><a href="#Description" role="tab" data-toggle="tab">Description</a></li>
                    <li class="my-tabs"><a href="#Tasks" role="tab" data-toggle="tab">Tasks</a></li>
                    <li class="my-tabs"><a href="#Information" role="tab" data-toggle="tab">Information</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content">

            <div class="tab-pane active" id="Description">
                <h4><strong>{{info.description}}</strong></h4><hr>
                {{currentUS.Description}} <hr>
                <h4><strong>{{info.notes}}</strong></h4><hr>
                {{currentUS.Notes}} <hr>
                <h4><strong>{{info.criteria}}</strong></h4><hr>
                {{currentUS.Criteria}} <hr>
            </div>
            
            <div class="tab-pane" id="Tasks">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 15vw"> Title</th>
                            <th style="width: 30vw"> Description</th>
                            <th style="width: 5vw"> Importance</th>
                            <th style="width: 2vw"> Delete </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tasksUS">
                            <td>{{item.Title}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.Importance}}</td>
                            <td><button type="button" class="btn red_button" ng-click="deleteTask(item.TaskId)">-</button></td>
                          </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="tab-pane" id="Information">
                <div><label class="infoTag">{{info.owner}}</label>{{currentUS.Owner}}</div>
                <div><label class="infoTag">{{info.project}}</label>{{currentUS.Project}}</div>
                <div><label class="infoTag">{{info.size}}</label>{{currentUS.Size}}{{currentUS.Unit}}</div>
            </div>
        </div>
    </div>
    <!--Modal - adding userStory-->
    <div class="modal fade" id="UserStoryModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content for addingUserStory-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Add UserStory</strong></h4>
                </div>
                <div class="modal-body">
                    <form name="userStoryForm" class="form-horizontal" method="post" novalidate>
                        <div>{{message}}</div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="userStoryTitle"> TITLE: </label>
                            <input name="userStoryTitle" class="col-sm-2 form-control" type="text" id="userStoryTitle" ng-model="userStoryTitle" required
                                   ng-minlength="3" ng-maxlength="60" ng-disabled="lock">
                            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryTitle">
                                <span class="text-left" ng-show="userStoryForm.userStoryTitle.$error.required">Required!</span>
                                <span ng-show="userStoryForm.userStoryTitle.$error.minlength">Should be at least 3 characters long</span>
                                <span ng-show="userStoryForm.userStoryTitle.$error.maxlength">Should not be more than 60 characters</span>
                            </p>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="userStoryDescription"> DESCRIPTION: </label>
                            <textarea class="col-sm-2 form-control" rows="5" id="userStoryDescription" name="userStoryDescription" ng-model="userStoryDescription" required
                                      ng-minlength="3" ng-maxlength="60" ng-disabled="lock"></textarea>
                            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryTitle">
                                <span class="text-left" ng-show="userStoryForm.userStoryDescription.$error.required">Required!</span>
                                <span ng-show="userStoryForm.userStoryDescription.$error.minlength">Should be at least 3 characters long</span>
                                <span ng-show="userStoryForm.userStoryDescription.$error.maxlength">Should not be more than 200 characters</span>
                            </p>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="userStorySize"> SIZE: </label>
                            <input name="userStorySize" class="col-sm-2 form-control" type="number" id="userStorySize" ng-model="userStorySize" min="1" required ng-disabled="lock">
                            <p class="col-sm-3 control-label text-left" style="color:red" for="userStorySize">
                                <span class="text-left" ng-show="userStoryForm.userStorySize.$error.required">Required!</span>
                                <span ng-show="userStoryForm.userStorySize.$error.min">Should be greater than 0</span>
                            </p>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="userStoryUnit"> UNIT: </label>
                            <input name="userStoryUnit" class="col-sm-2 form-control" type="text" id="userStoryUnit" ng-model="userStoryUnit" ng-disabled="lock" required>
                            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryUnit">
                                <span class="text-left" ng-show="userStoryForm.userStoryUnit.$error.required">Required!</span>
                            </p>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="userStoryNotes"> NOTES: </label>
                            <textarea class="col-sm-2 form-control" rows="5" id="userStoryNotes" name="userStoryNotes" ng-model="userStoryNotes"
                                      ng-minlength="3" ng-maxlength="200" ng-disabled="lock"></textarea>
                            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryNotes">
                                <span ng-show="userStoryForm.userStoryNotes.$error.minlength">Should be at least 3 characters long</span>
                                <span ng-show="userStoryForm.userStoryNotes.$error.maxlength">Should not be more than 200 characters</span>
                            </p>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="userStoryOwner"> OWNER: </label>
                            <select class="col-sm-2 form-control" name="userStoryOwner" ng-model="userStoryOwner" required
                                    ng-options="x.name for x in userStoriesOwnerOptions" ng-disabled="lock"></select>
                            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryOwner">
                                <span class="text-left" ng-show="userStoryForm.userStoryOwner.$error.required">Required!</span>
                            </p>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="userStoryCriteria"> CRITERIA: </label>
                            <textarea name="userStoryCriteria" rows="8" class="col-sm-2 form-control" id="userStoryCriteria" ng-model="userStoryCriteria"
                                      required ng-minlength="3" ng-maxlength="200" ng-disabled="lock"></textarea>
                            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryCriteria">
                                <span class="text-left" ng-show="userStoryForm.userStoryCriteria.$error.required">Required!</span>
                                <span ng-show="userStoryForm.userStoryCriteria.$error.minlength">Should be at least 3 characters long</span>
                                <span ng-show="userStoryForm.userStoryCriteria.$error.maxlength">Should not be more than 200 characters</span>
                            </p>
                        </div>
                        <div class="form-group row" ng-show="currentProject == 0">
                            <label class="control-label col-sm-3" for="userStoryProject"> PROJECT: </label>
                            <select class="col-sm-2 form-control" name="userStoryProject" ng-model="userStoryProject" ng-required="currentProject == 0"
                                    ng-options="x.name for x in userStoriesProjects_options" ng-disabled="lock"></select>
                            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryProject">
                                <span class="text-left" ng-show="userStoryForm.userStoryProject.$error.required">Required!</span>
                            </p>
                        </div>
                        <div class="form-group row" ng-show="currentProject != 0">
                            <label class="control-label col-sm-3" for="userStoryProject"> PROJECT: </label>
                            <input class="col-sm-2 form-control" name="userStoryProject" ng-model="currentProjectName" disabled/>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="selected_teams"> TEAMS: </label>
                            <div class="col-sm-3">
                                <div name="selected" ng-repeat="x in userStoriesTeams">
                                    <input type="checkbox" ng-model="selected" ng-change="checkTeam(x.id)" ng-disabled="lock"> {{x.NAME}}
                                </div>
                            </div>
                            <p class="col-sm-offset-3 control-label text-left" style="color:red" for="selected_teams">
                                <span class="text-left" ng-show="selected_teams.length < 1">Please select at least one team</span>
                            </p>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-10 control-label"></label>
                            <input type="submit" class="btn green_button" style="margin-left: 20%" value="ADD USERSTORY" ng-click="addUserStory()" data-dismiss="modal"
                                   ng-disabled="lock || userStoryForm.$invalid || (selected_teams.length < 1)">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn black_button" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>