
@model IEnumerable<SeeNowProcess.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "IndexPeople";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/drag-and-drop-styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/PeopleStyles.css">
    <!--<script src="~/Scripts/angular-drag-and-drop-lists.js"></script>-->
    <script src="~/Scripts/angularPeople.js"></script>
   <!-- <style>
        .userInterface {
            display:block;
            font-size:25px;
            font-weight:bold;
            padding-bottom: 20px;
            color:rgb(67,147,47);    
}
    </style>-->
</head>

<body ng-app="peoplePart" ng-controller="peopleCtrl" class="my-body">
<!--by Ania :D Jestem z siebie dumna xD-->
    <div>
        <h4>People</h4>
        <div>{{message}}</div>
        <hr />
    </div>
    <div >
        <ul class="people-list">
            <li ng-repeat="x in lists"><a class="my-btn my-button" data-toggle="collapse" ng-click="showUser(x.id, x.NAME)">{{x.NAME}}</a><hr/></li>
        </ul>
    </div>
    <div class="people-information">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="userInterface">{{userName}}</div>
                <div><label class="infoTag">{{info.e}}</label>{{currentUser.email}}</div> 
                <div><label class="infoTag">{{info.n}}</label> {{currentUser.phone}}</div>
                <div><h4><bold><label class="infoTag">{{info.r}}</label>{{currentUser.role}}</h4></div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active my-tabs"><a href="#OpenAssignments" role="tab" data-toggle="tab">Open Assignments</a></li>
                    <li class="my-tabs"><a href="#AccountSettings" role="tab" data-toggle="tab">Account Settings</a></li>
                    <li class="my-tabs"><a href="#ProjectsTeams" role="tab" data-toggle="tab">Projects & Teams</a></li>
                    <!--<li class="my-tabs"><a href="#4zakladka" role="tab" data-toggle="tab">4 zakładka</a></li>-->
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="OpenAssignments">
                Tasks
                <hr/>
             @*   <ul class="list-unstyled">*@ <!--class="visible list-unstyled text-center"-->
                    <div ng-repeat="item in userTasks">
                        <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
                    </div>
                @*</ul>*@
                User Stories
                <hr/>
                <ul ><!-- class="visible list-unstyled text-center">-->
                    <li ng-repeat="item in userStories">
                        <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="AccountSettings">Zawartość drugiej zakładki</div>
            <div class="tab-pane" id="ProjectsTeams">Zawartość trzeciej zakładki</div>
            <!--<div class="tab-pane" id="4zakladka">Zawartość czwartej zakładki</div>-->
        </div>
        <img class="img-responsive" src="~/img/whatever.jpg" alt="Upsik - brakuje obrazka" />
    </div>

</body>
