@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<p>People not implement yet. </p>


<img class="img-responsive" src="~/img/whatever.jpg" alt="Upsik - brakuje obrazka" />