
@model IEnumerable<SeeNowProcess.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "PeopleIndex";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/drag-and-drop-styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/PeopleStyles.css">
    <!--<script src="~/Scripts/angular-drag-and-drop-lists.js"></script>-->
    <script src="~/Scripts/angularPeople.js"></script>
    <style>
        .red_button {
            background-color:firebrick; 
            font-size: 15px;
            color:white; 
            padding-top: 5px; 
            padding-bottom: 5px;
            text-align:center;
            margin-left: 10%;
        }
        .my_column {
            width: 100px;
        }
        .control-label.text-left {
            text-align: left;
        }
        .disabled {
            cursor: default; opacity: .5; 
        }
    </style>
</head>

<body ng-app="peoplePart" ng-controller="peopleCtrl" class="my-body">
<!--by Ania :D Jestem z siebie dumna xD-->
   <!-- <div style="color: white;" align="right"><button type="button" class="btn red_button" ng-click="deleteTeam(currentUser.id, item.TeamID)">-</button></div>-->
     <div>
        <h4>People</h4>
        @*<div>{{message}}</div>*@
        <hr />
    </div>
    <div >
        <ul class="people-list">
            <li ng-repeat="x in lists"><a class="my-btn my-button" data-toggle="collapse" ng-click="showUser(x.id, x.NAME)">{{x.NAME}}</a><hr/></li>
        </ul>
    </div>
    <div class="people-information">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="userInterface">{{userName}}</div>
                <div><label class="infoTag">{{info.e}}</label>{{currentUser.email}}</div> 
                <div><label class="infoTag">{{info.n}}</label> {{currentUser.phone}}</div>
                <div><h4><bold><label class="infoTag">{{info.r}}</label>{{currentRole}}</h4></div>
                <ul class="nav nav-tabs" role="tablist" ng-show="currentUser != null">
                    <li class="active my-tabs"><a href="#OpenAssignments" role="tab" data-toggle="tab">Open Assignments</a></li>
                    <li class="my-tabs" ng-show="checkIfMe()"><a href="#AccountSettings" role="tab" data-toggle="tab" >Account Settings</a></li>
                    <li class="my-tabs"><a href="#Teams" role="tab" data-toggle="tab">Teams & Projects</a></li>
                    <!--<li class="my-tabs"><a href="#4zakladka" role="tab" data-toggle="tab">4 zakładka</a></li>-->
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div ng-show="currentUser != null" class="tab-pane active" id="OpenAssignments">
                <h4><strong>Tasks</strong></h4>
                <hr />
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 15vw"> Title</th>
                            <th style="width: 30vw"> Description</th>
                            <th style="width: 5vw"> Importance</th>
                            <th style="width: 8vw"> User Story</th>
                            <th style="width: 2vw"> Delete </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="item in userTasks">
                            <td>{{item.Title}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.Importance}}</td>
                            <td>{{item.Story}}</td>
                            <td><button type="button" class="btn red_button" ng-click="deleteTask(currentUser.id, item.ProblemID)">-</button></td>
                            <!--<div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div> <!--<button type="button" class="btn red_button" ng-click="deleteTask(currentUser.id, item.ProblemID)">-</button>-->
                        </tr>
                    </tbody>

                </table>
                <br />
                <h4><strong>User Stories</strong></h4>
                        <hr />
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 15vw"> Title</th>
                                    <th style="width: 30vw"> Description</th>
                                    <th style="width: 15vw"> Project</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="item in userUserStories">
                                    <td>{{item.UserStoryTitle}}</td>
                                    <td>{{item.UserStoryDescription}}</td>
                                    <td>{{item.UserStoryProject}}</td>
                                    <!--<div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div> <!--<button type="button" class="btn red_button" ng-click="deleteTask(currentUser.id, item.ProblemID)">-</button>-->
                                </tr>
                            </tbody>

                        </table>
            </div>
            <div class="tab-pane" style="margin-left: 20px; width: 70%; margin-bottom: 100px;" id="AccountSettings" ng-show="currentUser != null">
                <form name="accountForm" class="form-horizontal" novalidate>
                    @*<div>{{message}}</div>*@
                    Name:
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="firstName"> Name: </label>
                        <input class="col-sm-2 form-control" type="text" name="firstName" id="firstName" ng-model="currentUser.name" required autofocus
                               ng-minlength="4" ng-maxlength="50" ng-disabled="lock">
                        <p class="col-sm-3 control-label text-left" style="color:red" for="firstName">
                            <span class="text-left" ng-show="accountForm.firstName.$error.required">Required!</span>
                            <span ng-show="accountForm.firstName.$error.minlength">Should be at least 4 characters long</span>
                            <span ng-show="accountForm.firstName.$error.maxlength">Should not be more than 50 characters</span>
                        </p>
                    </div>
                    <hr />
                    Login:
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="login"> Login: </label>
                        <input class="col-sm-2 form-control" type="text" name="login" id="login" ng-model="currentUser.login" required autofocus
                               ng-minlength="5" ng-maxlength="20" ng-disabled="lock">
                        <p class="col-sm-3 control-label text-left" style="color:red" for="login">
                            <span class="text-left" ng-show="accountForm.login.$error.required">Required!</span>
                            <span ng-show="accountForm.login.$error.minlength">Should be at least 5 characters long</span>
                            <span ng-show="accountForm.login.$error.maxlength">Should not be more than 20 characters</span>
                        </p>
                    </div>
                    <hr />
                    Password (If you want to change it):
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="oldPassword"> Old password: </label>
                        <input class="col-sm-2 form-control" type="password" name="oldPassword" id="passwords.oldPassword" ng-model="passwords.oldPassword"
                                autofocus ng-minlength="6" ng-maxlength="100" ng-blur="checkPassword()" ng-focus="showInvalid=false" ng-change="oldChanged=true" ng-disabled="lock">
                        <p class="col-sm-3 control-label text-left" style="color:red" for="oldPassword">
                            <span ng-show="accountForm.oldPassword.$error.minlength">Should be at least 6 characters long</span>
                            <span ng-show="accountForm.oldPassword.$error.maxlength">Should not be more than 100 characters</span>
                            <span ng-show="oldPasswordInvalid && showInvalid">Wrong password</span>
                        </p>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="newPassword"> New password: </label>
                        <input class="col-sm-2 form-control" type="password" name="newPassword" id="passwords.newPassword" ng-model="passwords.newPassword" autofocus 
                               ng-required="(!oldPasswordInvalid) && (passwords.oldPassword!='') && (!oldChanged)"
                               ng-disabled="oldPasswordInvalid || oldChanged || lock"
                               ng-minlength="6" ng-maxlength="100">
                        <p class="col-sm-3 control-label text-left" style="color:red" for="newPassword">
                            <span ng-show="accountForm.newPassword.$error.required">Required!</span>
                            <span ng-show="accountForm.newPassword.$error.minlength">Should be at least 6 characters long</span>
                            <span ng-show="accountForm.newPassword.$error.maxlength">Should not be more than 100 characters</span>
                        </p>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="confirmPassword"> Confirm Password: </label>
                        <input class="col-sm-2 form-control" type="password" name="confirmPassword" id="paswords.confirmPassword" ng-model="passwords.confirmPassword" autofocus
                               ng-required="(!oldPasswordInvalid) && (passwords.oldPassword!='') && (!oldChanged)" 
                               ng-disabled="oldPasswordInvalid || oldChanged || lock">
                        <p class="col-sm-3 control-label text-left" style="color:red" for="newPassword">
                            <span ng-show="accountForm.confirmPassword.$error.required">Required!</span>
                            <span class="text-left" ng-show="(!accountForm.confirmPassword.$error.required) && (passwords.newPassword != passwords.confirmPassword)">Passwords does not match</span>
                        </p>
                    </div>
                    <hr />
                    E-mail:
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="email"> E-mail adress: </label>
                        <input class="col-sm-2 form-control" type="email" id="email" name="email" ng-model="currentUser.email" required autofocus ng-disabled="lock">
                        <p class="col-sm-3 control-label text-left" style="color:red" for="email">
                            <span class="text-left" ng-show="accountForm.email.$error.required">Required!</span>
                            <span class="text-left" ng-show="accountForm.email.$error.email">Wrong email format</span>
                        </p>
                    </div>
                    <hr />
                    Phone number:
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="phone"> Phone number: </label>
                        <input class="col-sm-2 form-control" type="tel" id="phone" name="phone" ng-model="currentUser.phone" autofocus ng-disabled="lock">
                    </div>
                    <div>
                        <hr />
                        Role:
                        <br/>
                        <label>
                            <input type="radio" ng-model="role" value="admin" ng-disabled="lock">
                            Admin
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="headMaster" ng-disabled="lock">
                            Head Master
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="seniorDev" ng-disabled="lock">
                            Senior Developer
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="juniorDev" ng-disabled="lock">
                            Junior Developer
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="intern" ng-disabled="lock">
                            Intern
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="tester" ng-disabled="lock">
                            Tester
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="client" ng-disabled="lock">
                            Client
                        </label><br />
                    </div>

                </form>
                <hr/>
                <div>
                    <button type="button" class="btn green_button" ng-disabled="lock || accountForm.$invalid || (oldPasswordInvalid && (passwords.oldPassword!='')) || (oldChanged && (passwords.oldPassword!='')) || (passwords.newPassword != passwords.confirmPassword)" ng-click="updateUser(currentUser.id)">Update Settings</button>
                    <button type="button" class="btn red_button" ng-disabled="(!isAdmin) || lock || accountForm.$invalid || (oldPasswordInvalid && (passwords.oldPassword!='')) || (oldChanged && (passwords.oldPassword!='')) || (passwords.newPassword != passwords.confirmPassword)" ng-click="deleteUser(currentUser.id)">Delete User</button>
                </div>
            </div>
            <div class="tab-pane" id="Teams" ng-show="currentUser != null">
                <h4><strong>Teams</strong><input type="submit" class="btn green_button" value="Add to team" data-toggle="modal" data-target="#TeamModal"></h4>
                    <hr />
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 14vw"> Name </th>
                                    <th style="width: 14vw"> Team Leader </th>
                                    <th style="width: 2vw"> Delete </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="item in userTeams">
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Leader}}</td>
                                    <td><button type="button" class="btn red_button" ng-click="deleteTeam(currentUser.id, item.TeamID)">-</button></td>
                                            <!--<div c
                                    lass="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div> <!--<button type="button" class="btn red_button" ng-click="deleteTask(currentUser.id, item.ProblemID)">-</button>-->
                                    </tr>
                            </tbody>
                        </table>
                <!--<div style="color: white; margin-left: -15vw; z-index:15;"><button type="button" class="btn red_button" ng-click="deleteTeam(currentUser.id, item.TeamID)">-</button></div>-->
                <br/>
                <br/>
                <h4><strong>Projects</strong></h4>
                    <hr />
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 4vw"> Name </th>
                                <th style="width: 10vw"> Description</th>
                                <th style="width: 7vw"> Start Date </th>
                                <th style="width: 7vw"> Completion Date </th>
                                <th style="width: 2vw"> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in userProjects">
                                <td>{{item.ProjectName}}</td>
                                <td>{{item.ProjectDescription}}</td>
                                <td>{{item.ProjectStartDate}}</td>
                                <td>{{item.ProjectCompletionDate}}</td>
                                <td>{{item.ProjectStatus}}</td>   
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <!--Modal - adding user to team-->
    <div class="modal fade" id="TeamModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content for addingUserStory:/-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Add {{currentUser.userName}} to team</strong></h4>
                </div>
                <div class="modal-body">
                    <form name="teamForm" class="form-horizontal" method="post">
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="newTeam"> TEAM: </label>
                            <select class="form-control" name="newTeam" ng-model="newTeam" ng-options="x.Name for x in allTeams"></select>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-10 control-label"></label>
                            <input type="submit" class="btn green_button" style="margin-left: 20%" value="ADD USER TO TEAM" ng-click="addUserToTeam(currentUser.id)" data-dismiss="modal">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn black_button" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>
