
@model IEnumerable<SeeNowProcess.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "IndexPeople";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/drag-and-drop-styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/PeopleStyles.css">
    <!--<script src="~/Scripts/angular-drag-and-drop-lists.js"></script>-->
    <script src="~/Scripts/angularPeople.js"></script>
    <style>
        .red_button {
            background-color:firebrick; 
            font-size: 15px;
            color:white; 
            padding-top: 5px; 
            padding-bottom: 5px;
            text-align:center;
            margin-left: 10%;
        }
        .my_column {
            width: 100px;
        }
    </style>
</head>

<body ng-app="peoplePart" ng-controller="peopleCtrl" class="my-body">
<!--by Ania :D Jestem z siebie dumna xD-->
    <div>
        <h4>People</h4>
        <div>{{message}}</div>
        <hr />
    </div>
    <div >
        <ul class="people-list">
            <li ng-repeat="x in lists"><a class="my-btn my-button" data-toggle="collapse" ng-click="showUser(x.id, x.NAME)">{{x.NAME}}</a><hr/></li>
        </ul>
    </div>
    <div class="people-information">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="userInterface">{{userName}}</div>
                <div><label class="infoTag">{{info.e}}</label>{{currentUser.email}}</div> 
                <div><label class="infoTag">{{info.n}}</label> {{currentUser.phone}}</div>
                <div><h4><bold><label class="infoTag">{{info.r}}</label>{{currentRole}}</h4></div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active my-tabs"><a href="#OpenAssignments" role="tab" data-toggle="tab">Open Assignments</a></li>
                    <li class="my-tabs"><a href="#AccountSettings" role="tab" data-toggle="tab">Account Settings</a></li>
                    <li class="my-tabs"><a href="#ProjectsTeams" role="tab" data-toggle="tab">Projects & Teams</a></li>
                    <!--<li class="my-tabs"><a href="#4zakladka" role="tab" data-toggle="tab">4 zakładka</a></li>-->
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="OpenAssignments">
                Tasks
                <hr/>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th> Title</th>
                            <th> Description</th>
                            <th> Importance</th>
                            <th> User Story</th>
                            <th> Delete </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="item in userTasks">
                            <td>{{item.Title}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.Importance}}</td>
                            <td>{{item.Story}}</td>
                            <td><button type="button" class="btn red_button" ng-click="deleteTask(currentUser.id, item.ProblemID)">-</button></td>
                            <!--<div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div> <!--<button type="button" class="btn red_button" ng-click="deleteTask(currentUser.id, item.ProblemID)">-</button>-->
                        </tr>
                    </tbody>

                </table>
                <br />
                User Stories
                <hr/>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th> Title</th>
                            <th> Description</th>
                            <th> Project</th>
                            <th> Delete </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="item in userTeams">
                            <td>{{item.UserStoryTitle}}</td>
                            <td>{{item.UserStoryDescription}}</td>
                            <td>{{item.UserStoryProject}}</td>
                            <td><button type="button" class="btn red_button" ng-click="deleteTask(currentUser.id, item.ProblemID)">-</button></td>
                            <!--<div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div> <!--<button type="button" class="btn red_button" ng-click="deleteTask(currentUser.id, item.ProblemID)">-</button>-->
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="tab-pane" id="AccountSettings">
                <form class="form-horizontal">
                    Name:
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="firstName"> Name: </label>
                        <input class="col-sm-2 form-control" type="text" id="firstName" ng-model="currentUser.name" required autofocus ng-class="Submited?'ng-dirty':''">
                    </div>
                    <hr />
                    Login:
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="login"> Login: </label>
                        <input class="form-control" type="text" id="login" ng-model="currentUser.login" required autofocus ng-class="Submited?'ng-dirty':''">
                    </div>
                    <hr />
                    Password (If you want to change it):
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="passwords.oldPassword"> Old password: </label>
                        <input class="form-control" type="password" id="passwords.oldPassword" ng-model="passwords.oldPassword" autofocus ng-class="Submited?'ng-dirty':''">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="passwords.newPassword"> New password: </label>
                        <input class="form-control" type="password" id="passwords.newPassword" ng-model="passwords.newPassword" autofocus ng-class="Submited?'ng-dirty':''">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="paswords.confirmPassword"> Confirm Password: </label>
                        <input class="form-control" type="password" id="paswords.confirmPassword" ng-model="passwords.confirmPassword" autofocus ng-class="Submited?'ng-dirty':''">
                    </div>
                    <hr />
                    E-mail:
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="email"> E-mail adress: </label>
                        <input class="form-control" type="email" id="email" ng-model="currentUser.email" required autofocus ng-class="Submited?'ng-dirty':''">
                    </div>
                    <hr />
                    Phone number:
                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="phone"> Phone number: </label>
                        <input class="form-control" type="tel" id="phone" ng-model="currentUser.phone" required autofocus ng-class="Submited?'ng-dirty':''">
                    </div>
                    <div>
                        <hr />
                        Role:
                        <br/>
                        <label>
                            <input type="radio" ng-model="role" value="admin">
                            Admin
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="headMaster">
                            Head Master
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="seniorDev">
                            Senior Developer
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="juniorDev">
                            Junior Developer
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="intern">
                            Intern
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="tester">
                            Tester
                        </label><br />
                        <label>
                            <input type="radio" ng-model="role" value="client">
                            Client
                        </label><br />
                    </div>

                </form>
                <hr/>
                <div>
                    <button type="button" class="btn green_button" ng-click="updateUser(currentUser.id)">Update Settings</button>
                    <button type="button" class="btn red_button" ng-click="deleteUser(currentUser.id)">Delete User</button>
                </div>
            </div>
            <div class="tab-pane" id="ProjectsTeams">
                Teams
                <hr />
                <div ng-repeat="item in userTeams">
                    <div class="element">Team: {{item.Name}}<p class="element2">Team leader: {{item.Leader}}</p></div>
                </div>
               <!-- Projects
                <hr />
                <div ng-repeat="item in userTeams">
                    <div class="element">User Story: {{item.UserStory}}<p class="element2">Team name: {{item.Name}}</p></div>
                </div>-->
            </div>
        </div>
    </div>
</body>
