@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<p>Task Board not implement yet. </p>

<div>
    <img src="~/img/IwSK.jpg" alt="Upsik - brakuje obrazka" />
</div>

