@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/drag-and-drop-styles.css">
    <script src="~/Scripts/angular-drag-and-drop-lists.js"></script>
    <script src="~/Scripts/taskBoard.js"></script>

</head>
<p>Task Board not implement yet. </p>

<div>
    <img src="~/img/IwSK.jpg" alt="Upsik - brakuje obrazka" />
</div>
<body>
    <div class="fillTaskBoard" ng-app="taskBoardPart" name="taskBoardPart" ng-controller="taskBoardCtrl">
        <div>{{message}}</div>
        <table>
            <thead>
                <th class="space2 column" ng-repeat="x in iterations"><h5 class="text-center"><strong>{{x.name}}</strong></h5><p class="text-center">{{x.duration}}</p></th>
            </thead>
            <tbody>
            <td class="space column" ng-repeat="x in lists">
                <ul class="visible list-unstyled text-center" dnd-list="x">
                    @* dnd-drop="dropCallback(item,)"*@
                    <li ng-repeat="item in x"
                        dnd-draggable="item"
                        dnd-moved="x.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="selected = item"
                        ng-class="{'selected': selected === item}">
                        <div class="element">{{item.title}}<p class="element2">{{item.description}}</p></div>
                    </li>
                </ul>
            </td>
            </tbody>

        </table>
    </div>
</body>
