@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Some Company</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my demo!</h2>
        <p>
            Workers Hierarchy is a demo application that demonstrates usage of Entity Framework.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Blablablablabla</h2>
        <p>Blablablablabla blablablablabla blablablablabla blablablablabla blablablablabla blablablablabla blablablablabla</p>
    </div>
    <div class="col-md-4">
        <h2>Blablablablabla</h2>
        <p>Blablablablabla blablablablabla blablablablabla blablablablabla blablablablabla blablablablabla blablablablabla</p>
    </div>
</div>