@{
    ViewBag.Title = "Home Page";
}

<div>
    <center><img src="~/img/logo.jpg" alt="Upsik - brakuje obrazka" /></center>
</div>

<center><div class="row" style="font-family: Georgia; font-weight:bold; font-size:15px">
    <div class="col-md-4">
        <p><h3>Projekt zaliczeniowy z przedmiotu:</h3></p>
        <p><h2>Projekt Programistyczny</h2></p>
        <p></p>
        <p>Prowadzący: dr inż. Dariusz Myszor</p>
    </div>
    <div class="col-md-4" >
        <h1>See Now Process</h1>
    </div>
    <div class="col-md-4">
        <h2>Autors:</h2>
        <p>Marcin Biesek </p>
        <p>Anna Kocztorz </p>
        <p>Krzysztof Krawczyk </p>
        <p>Roksana Paluch</p>
        <p>Mikołaj Trzeja</p>
    </div>
    
</div></center>