@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<p>Iteration plan DOESN'T EXIST. </p>

<p> Zamiast tego mogę wrzucić element pokazujący magię EKOSU: :)</p>
<img src="~/img/magia_EKOSu.jpg" alt="Upsik - brakuje obrazka" />