@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/drag-and-drop-styles.css">
    <script src="~/Scripts/angular-drag-and-drop-lists.js"></script>
    <script src="~/Scripts/iterationPlan.js"></script>

</head>


<body>
<div class="fillIteration" ng-app="iterationPart" name="iterationPart" ng-controller="iterationCtrl">
    <div><input type="submit" class="btn green_button btn-right" value="ADD ITERATION" data-toggle="modal" data-target="#iterationModal"></div>

    <!--Modal - adding iteration-->
    <div class="modal fade" id="iterationModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content for adding Iteration without working datepicker :/-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Add Iteration</strong></h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="iterationName"> NAME: </label>
                            <input class="form-control" type="text" id="iterationName" ng-model="iterationName" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="iterationDescription"> DESCRIPTION: </label>
                            <input class="form-control" type="text" id="iterationDescription" ng-model="iterationDescription" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="datepickerStart"> START DATE: </label>
                            <input class="form-control" type="text" id="datepickerStart" ng-model="startDate" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="datepickerEnd"> END DATE: </label>
                            <input class="form-control" type="text" id="datepickerEnd" ng-model="endDate" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green_button" data-dismiss="modal" ng-click="addIteration()">Add</button>
                    <button type="button" class="btn black_button" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div>{{message}}</div>
    <table >
        <thead>
            <th class="space2 column" ng-repeat="x in iterations"><h5 class="text-center"><strong>{{x.name}}</strong></h5><p class="text-center">{{x.duration}}</p></th>
        </thead>
        <tbody>
            <td class="space column" ng-repeat="x in lists">
                <ul class="visible list-unstyled text-center" dnd-list="x.data" dnd-drop="dropCallback(item,x.id)"> @* dnd-drop="dropCallback(item,)"*@
                    <li ng-repeat="item in x.data"
                        dnd-draggable="item"
                        dnd-moved="x.data.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="selected = item"
                        ng-class="{'selected': selected === item}">
                        <div class="element">{{item.title}}<p class="element2">{{item.description}}</p></div>
                    </li>
                </ul>
            </td>

        </tbody>

    </table>
    </div>
</body>

@*KOD ZAKOMENTOWANY PRAWIE DZIAŁAJĄCY
        <div ng-app="iterationPart" name="iterationPart" ng-controller="iterationCtrl">
        <div>
            <label class="col-sm-10 control-label"></label>
            <input type="submit" class="btn green_button" style="margin-left: 20%" value="ADD ITERATION" ng-click="addIteration()">
        </div>
        <div class="row" >
            <div class="space2 col-sm-2" ng-repeat="x in iterations"><h5 class="text-center"><strong>{{x.Name}}</strong></h5><p>{{x.StartDate}} - {{x.EndDate}}</p></div>
        </div>
        <div class="row" >
            <div class="space col-sm-2 column" ng-repeat="x in lists">
                <ul class="visible list-unstyled text-center" dnd-list="x">
                    <li ng-repeat="item in x"
                        dnd-draggable="item"
                        dnd-moved="x.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="selected = item"
                        ng-class="{'selected': selected === item}">
                        <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

*@


@*  KOD Z PLIKÓW OD ROKSANY (jeszcze nie wyrzucać)
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.B">
            <li ng-repeat="item in models.lists.B"
                dnd-draggable="item"
                dnd-moved="models.lists.B.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.C">
            <li ng-repeat="item in models.lists.C"
                dnd-draggable="item"
                dnd-moved="models.lists.C.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.D">
            <li ng-repeat="item in models.lists.D"
                dnd-draggable="item"
                dnd-moved="models.lists.D.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.E">
            <li ng-repeat="item in models.lists.E"
                dnd-draggable="item"
                dnd-moved="models.lists.E.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.F">
            <li ng-repeat="item in models.lists.F"
                dnd-draggable="item"
                dnd-moved="models.lists.F.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>*@