@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "IterationPlanIndex";
}
@model IEnumerable<SeeNowProcess.Models.Project>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/drag-and-drop-styles.css">
    <script src="~/Scripts/angular-drag-and-drop-lists.js"></script>
    <script src="~/Scripts/angularIterationPlan.js"></script>
    <style>
        .topped {
            top: 80px;
            position: absolute;
            left: 80vw;
        }
    </style>
</head>


<body ng-app="iterationPart" name="iterationPart" >



<div ng-controller="iterationCtrl">
    <div>{{message}}</div>
    <div class="topped" align="right">
        <p><strong>Current project:</strong></p>
        <!-- <p >{{currentName}}</p> -->
        <select ng-model="currentProject" ng-init="currentProject=Session['project']">
            <!-- ng-options="x.id as x.name for x in projects">-->
            <option value="0">All projects</option>
            @foreach (var project in Model)
            {

                <option value="@project.ProjectID">@project.Name</option>
            }
        </select>
    </div>

    <div><input type="submit" class="btn green_button btn-add" value="ADD ITERATION" data-toggle="modal" data-target="#iterationModal"></div>

    <!--Modal - adding iteration-->
    <div class="modal fade" id="iterationModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content for adding Iteration without working datepicker :/-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Add Iteration</strong></h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="iterationName"> NAME: </label>
                            <input class="form-control" type="text" id="iterationName" ng-model="iterationName" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="iterationDescription"> DESCRIPTION: </label>
                            <input class="form-control" type="text" id="iterationDescription" ng-model="iterationDescription" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="datepickerStart"> START DATE: </label>
                            <input class="form-control" type="date" id="datepickerStart" ng-model="startDate" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label" for="datepickerEnd"> END DATE: </label>
                            <input class="form-control" type="date" id="datepickerEnd" ng-model="endDate" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green_button" data-dismiss="modal" ng-click="addIteration()">Add</button>
                    <button type="button" class="btn black_button" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    
    


    <table class="fillIteration">
        <thead>
            <th class="space2 column" ng-repeat="x in iterations"><h5 class="text-center"><strong>{{x.name}}</strong></h5><p class="text-center">{{x.duration}}</p></th>
        </thead>
        <tbody>
            <td class="space column" ng-repeat="x in lists">
                <div><input type="submit" class="btn green_button btn-right" style="margin-bottom:20px" ng-click="passIterationId(x.id)" value="+" data-toggle="modal" data-target="#taskModal"></div>
                <ul class="visible list-unstyled text-center" dnd-list="x.data" dnd-drop="dropCallback(item,x.id)"> @* dnd-drop="dropCallback(item,)"*@
                    <li ng-repeat="item in x.data"
                        dnd-draggable="item"
                        dnd-moved="x.data.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="selected = item"
                        ng-class="{'selected': selected === item}">
                        <div class="element">{{item.title}}<p class="element2">{{item.description}}</p></div>
                    </li>
                </ul>
            </td>
        </tbody>
    </table>
    </div>

    <!--Modal - adding task-->
     <div class="modal fade" ng-controller="taskCtrl" id="taskModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content for addingTask :/-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><strong>Add Task</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form name="taskForm" ng-controller="taskCtrl" class="form-horizontal" method="post">
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="title"> TITLE: </label>
                                <input name="taskTitle" class="form-control" type="text" id="task_title" ng-model="title" required>
                                <!-- <span style="color: red" ng-show="submitted && taskForm.taskTitle.$error.required">Title is required</span>-->
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="description"> DESCRIPTION: </label>
                                <textarea class="form-control" rows="5" id="task_description" ng-model="description" required> </textarea>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="status"> STATUS: </label>
                                <select class="form-control" name="task_status" ng-model="status" ng-options="x.description for x in status_options"></select>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-3" for="importance"> IMPORTANCE: </label>
                                <select class="form-control" name="task_importance" ng-model="importance" ng-options="x.description for x in importance_options"></select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="estimated_time"> ESTIMATED TIME: </label>
                                <input class="form-control" type="text" id="task_estimated_time" ng-model="estimated_time" required>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label selectContainer" for="task_project"> PROJECT: </label>
                                <select class="form-control" name="task_project" ng-model="project" ng-options="x.value for x in project_options" ng-change="getUserStories(project.id)"></select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label selectContainer" for="task_parent"> PARENT USER STORY: </label>
                                <select class="form-control" name="task_parent" ng-model="parent" ng-options="x.value for x in parent_options" ng-change="getTeamsForProject(parent.id)"></select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label selectContainer" for="task_team"> TEAM: </label>
                                <select class="form-control" name="task_team" ng-model="team" ng-options="x.NAME for x in team_options" ng-change="getUsersForProject(team.id)"></select>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for="selected_users"> USERS: </label>
                                <div class="col-sm-offset-3" name="selected" ng-repeat="x in users">
                                    <input class="col-sm-offset-2" type="checkbox" ng-model="selected" ng-change="checkUser(x.id)"> {{x.NAME}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-10 control-label"></label>
                                <input type="submit" class="btn green_button" style="margin-left: 20%" value="ADD TASK" ng-click="addTask()" data-dismiss="modal">
                            </div>
                    </form>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn black_button" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    



</body>

@*KOD ZAKOMENTOWANY PRAWIE DZIAŁAJĄCY
        <div ng-app="iterationPart" name="iterationPart" ng-controller="iterationCtrl">
        <div>
            <label class="col-sm-10 control-label"></label>
            <input type="submit" class="btn green_button" style="margin-left: 20%" value="ADD ITERATION" ng-click="addIteration()">
        </div>
        <div class="row" >
            <div class="space2 col-sm-2" ng-repeat="x in iterations"><h5 class="text-center"><strong>{{x.Name}}</strong></h5><p>{{x.StartDate}} - {{x.EndDate}}</p></div>
        </div>
        <div class="row" >
            <div class="space col-sm-2 column" ng-repeat="x in lists">
                <ul class="visible list-unstyled text-center" dnd-list="x">
                    <li ng-repeat="item in x"
                        dnd-draggable="item"
                        dnd-moved="x.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="selected = item"
                        ng-class="{'selected': selected === item}">
                        <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

*@


@*  KOD Z PLIKÓW OD ROKSANY (jeszcze nie wyrzucać)
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.B">
            <li ng-repeat="item in models.lists.B"
                dnd-draggable="item"
                dnd-moved="models.lists.B.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.C">
            <li ng-repeat="item in models.lists.C"
                dnd-draggable="item"
                dnd-moved="models.lists.C.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.D">
            <li ng-repeat="item in models.lists.D"
                dnd-draggable="item"
                dnd-moved="models.lists.D.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.E">
            <li ng-repeat="item in models.lists.E"
                dnd-draggable="item"
                dnd-moved="models.lists.E.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>
    <div class="space col-sm-2">
        <ul class="visible list-unstyled text-center" dnd-list="models.lists.F">
            <li ng-repeat="item in models.lists.F"
                dnd-draggable="item"
                dnd-moved="models.lists.F.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="element">{{item.Title}}<p class="element2">{{item.Description}}</p></div>
            </li>
        </ul>
    </div>*@