@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Index";
}


<body class="main_page"> <!--przesuwa wszystko niewiadomo czemu-->
    <p>You are trying to add file.</p>
    <p>You can't do it now. Maybe in the future ;) </p>

    <div>
        <img src="~/img/szop_mem.jpg" alt="Upsik - brakuje obrazka" />
    </div>
</body>
