@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "UserStoryAddIndex";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SeeNowProcess</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/leftmenu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="~/Scripts/angularUserStory.js"></script>
    <style>
        .control-label.text-left {
            text-align: left;
        }
    </style>
</head>
<!--Anna-->
<body ng-app="userStoryForm" ng-controller="userStoryCtrl">
 <h4><strong>Add UserStory</strong></h4> <hr />
    <form name="userStoryForm" class="form-horizontal" method="post" novalidate>
        <div>{{message}}</div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="userStoryTitle"> TITLE: </label>
            <input name="userStoryTitle" class="col-sm-2 form-control" type="text" id="userStoryTitle" ng-model="userStoryTitle" required
                   ng-minlength="3" ng-maxlength="60" ng-disabled="lock">
            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryTitle">
                <span class="text-left" ng-show="userStoryForm.userStoryTitle.$error.required">Required!</span>
                <span ng-show="userStoryForm.userStoryTitle.$error.minlength">Should be at least 3 characters long</span>
                <span ng-show="userStoryForm.userStoryTitle.$error.maxlength">Should not be more than 60 characters</span>
            </p>               
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="userStoryDescription"> DESCRIPTION: </label>
            <textarea class="col-sm-2 form-control" rows="5" id="userStoryDescription" name="userStoryDescription" ng-model="userStoryDescription" required
                      ng-minlength="3" ng-maxlength="60" ng-disabled="lock"> </textarea>
            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryTitle">
                <span class="text-left" ng-show="userStoryForm.userStoryDescription.$error.required">Required!</span>
                <span ng-show="userStoryForm.userStoryDescription.$error.minlength">Should be at least 3 characters long</span>
                <span ng-show="userStoryForm.userStoryDescription.$error.maxlength">Should not be more than 200 characters</span>
            </p>  
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="userStorySize"> SIZE: </label>
            <input name="userStorySize" class="col-sm-2 form-control" type="number" id="userStorySize" ng-model="userStorySize" min="1" required ng-disabled="lock">
            <p class="col-sm-3 control-label text-left" style="color:red" for="userStorySize">
                <span class="text-left" ng-show="userStoryForm.userStorySize.$error.required">Required!</span>
                <span ng-show="userStoryForm.userStorySize.$error.min">Should be greater than 0</span>
            </p>  
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="userStoryUnit"> UNIT: </label>
            <input name="userStoryUnit" class="col-sm-2 form-control" type="text" id="userStoryUnit" ng-model="userStoryUnit" ng-disabled="lock" required>
            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryUnit">
                <span class="text-left" ng-show="userStoryForm.userStoryUnit.$error.required">Required!</span>
            </p>  
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="userStoryNotes"> NOTES: </label>
            <textarea class="col-sm-2 form-control" rows="5" id="userStoryNotes" name="userStoryNotes" ng-model="userStoryNotes" 
                      ng-minlength="3" ng-maxlength="200" ng-disabled="lock"> </textarea>
            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryNotes">
                <span ng-show="userStoryForm.userStoryNotes.$error.minlength">Should be at least 3 characters long</span>
                <span ng-show="userStoryForm.userStoryNotes.$error.maxlength">Should not be more than 200 characters</span>
            </p>  
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="userStoryOwner"> OWNER: </label>
            <select class="col-sm-2 form-control" name="userStoryOwner" ng-model="userStoryOwner" required
                    ng-options="x.name for x in userStoriesOwnerOptions" ng-disabled="lock"></select>
            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryOwner">
                <span class="text-left" ng-show="userStoryForm.userStoryOwner.$error.required">Required!</span>
            </p>  
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="userStoryCriteria"> CRITERIA: </label>
            <textarea name="userStoryCriteria" rows="8" class="col-sm-2 form-control" id="userStoryCriteria" ng-model="userStoryCriteria"
                       required  ng-minlength="3" ng-maxlength="200" ng-disabled="lock"></textarea>
            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryCriteria">
                <span class="text-left" ng-show="userStoryForm.userStoryCriteria.$error.required">Required!</span>
                <span ng-show="userStoryForm.userStoryCriteria.$error.minlength">Should be at least 3 characters long</span>
                <span ng-show="userStoryForm.userStoryCriteria.$error.maxlength">Should not be more than 200 characters</span>
            </p>  
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="userStoryProject"> PROJECT: </label>
            <select class="col-sm-2 form-control" name="userStoryProject" ng-model="userStoryProject" required
                     ng-options="x.name for x in userStoriesProjects_options" ng-disabled="lock"></select>
            <p class="col-sm-3 control-label text-left" style="color:red" for="userStoryProject">
                <span class="text-left" ng-show="userStoryForm.userStoryProject.$error.required">Required!</span>
            </p>  
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="selected_teams"> TEAMS: </label>
            <div class="col-sm-2">
                <div name="selected" ng-repeat="x in userStoriesTeams">
                    <input type="checkbox" ng-model="selected" ng-change="checkTeam(x.id)" ng-disabled="lock"> {{x.name}}
                </div>
            </div>
            <p class="col-sm-offset-3 control-label text-left" style="color:red" for="selected_teams">
                <span class="text-left" ng-show="selected_teams.length < 1">Please select at least one team</span>
            </p>
        </div>
        <div class="form-group row">
            <label class="col-sm-10 control-label"></label>
            <input type="submit" class="btn green_button" style="margin-left: 20%" value="ADD USERSTORY" ng-click="addUserStory()" data-dismiss="modal"
                   ng-disabled="lock || userStoryForm.$invalid || (selected_teams.length < 1)">
        </div>
    </form>
</body>
