
@{
    ViewBag.Title = "Login";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="~/Scripts/angularLogin.js"></script>
    <style>
        .control-label.text-left{
    text-align: left;
}
        </style>
</head>
<h2>Login</h2>

<form ng-app="loginForm" name="loginForm" ng-controller="loginCtrl" class="form-horizontal" ng-submit="loginCheck()" novalidate>
    <div>{{myWelcome}}</div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" for="login"> Login: </label>
        <input class="col-sm-2 form-control" type="text" id="login" name="login" ng-model="login" ng-minlength="5" ng-maxlength="20" required autofocus ng-disabled="lock">
        <p class="col-sm-3 control-label text-left" style="color:red" for="login" ><span class="text-left" ng-show="loginForm.login.$error.required">Required!</span>
        <span ng-show="loginForm.login.$error.minlength">Should be at least 5 characters long</span>
        <span ng-show="loginForm.login.$error.maxlength">Should be less than 20 characters</span></p>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" for="password"> Password: </label>
        <input class="col-sm-2 form-control" type="password" id="password" name="password" ng-model="password" ng-minlength="6" ng-maxlength="100" ng-disabled="lock" required autofocus>
        <p class="col-sm-3 control-label text-left" style="color:red" for="login">
            <span class="text-left" ng-show="loginForm.password.$error.required">Required!</span>
            <span ng-show="loginForm.password.$error.minlength">Should be at least 6 characters long</span>
            <span ng-show="loginForm.password.$error.maxlength">Should be less than 100 characters</span>
        </p>
    </div>
    <div class="form-group row">
        <label class="col-sm-10 control-label"></label>
        <input type="submit" class="form-control btn green_button" style="margin-left: 20%" value="LOGIN" 
               ng-disabled="loginForm.login.$error.required || loginForm.login.$error.minlength || loginForm.login.$error.maxlength
               || loginForm.password.$error.required || loginForm.password.$error.minlength || loginForm.password.$error.maxlength || lock"> <!-- ng-click="loginCheck()"-->
        <!--TODO: error logowania, nie wysylanie wielu żądań-->
    </div>
</form>

<!--
<h2>Login Using Angular</h2>

<div ng-controller="LoginController">
    <form name="myForm" novalidate ng-submit="LoginForm()">
        <div style="color:green">{{msg}}</div>
        <table ng-show="!IsLoggedIn" class="table table-horizontal">
            <tr>
                <td>Email/UserName :</td>
                <td>
                    <input type="email" ng-model="UserModel.Email" name="UserEmail" <!--ng-class="Submited?'ng-dirty':''" required autofocus  class="form-control />
                  <!--  <span style="color:red" ng-show="(myForm.UserEmail.$dirty || Submited ) && myForm.UserEmail.$error.required">Please enter Email</span>
                    <span style="color:red" ng-show="myForm.UserEmail.$error.email">Email is not valid</span>
                </td>
            </tr>
            <tr>
                <td>Password :</td>
                <td>
                    <input type="password" ng-model="UserModel.Password" name="UserPassword" ng-class="Submited?'ng-dirty':''" required autofocus class="form-control" />
              <!--      <span style="color:red" ng-show="(myForm.UserPassword.$dirty || Submited) && myForm.UserPassword.$error.required">Password Required</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="submit" class="btn btn-success" />
                </td>
            </tr>
        </table>
    </form>
</div>
@section scripts{
    <script src="~/Controllers/AngularController.js"></script>
}
-->