
@{
    ViewBag.Title = "Register";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="~/Scripts/angularRegister.js"></script>
</head>
<h2>Register</h2>

<form ng-app="registerForm" name="registerForm" ng-controller="registerCtrl" class="form-horizontal" ng-submit="registerUser()">
    <div>{{message}}</div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" for="login"> Login: </label>
        <input class="form-control" type="text" id="login" ng-model="login" required autofocus ng-class="Submited?'ng-dirty':''">
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" for="password"> Password: </label>
        <input class="form-control" type="password" id="password" ng-model="password" required autofocus ng-class="Submited?'ng-dirty':''">
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" for="confirmPassword"> Confirm Password: </label>
        <input class="form-control" type="password" id="confirmPassword" ng-model="confirmPassword" required autofocus ng-class="Submited?'ng-dirty':''">
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" for="name"> Full Name: </label>
        <input class="form-control" type="text" id="name" ng-model="name" required autofocus ng-class="Submited?'ng-dirty':''">
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="email"> Email adress: </label>
        <input class="form-control" type="email" id="email" ng-model="email" required autofocus ng-class="Submited?'ng-dirty':''">
    </div>
    <div class="form-group row">
        <label class="col-sm-2 control-label" for="phone"> Phone number: </label>
        <input class="form-control" type="tel" id="phone" ng-model="phone" required autofocus ng-class="Submited?'ng-dirty':''">
    </div>
    <div class="form-group row">
        <label class="col-sm-10 control-label"></label>
        <input type="submit" class="btn green_button" style="margin-left: 20%" value="REGISTER">
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
