@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<p class="jumbotron">Create DOESN'T CREATE ANYTHING. </p>


<img class="img-responsive" src="~/img/nadkrasnal.jpg" alt="Upsik - brakuje obrazka" />