@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Contact";
}

<p>Na ten moment zamieszczam tutaj stopkę dla twórców: </p>
<p>Ania, Roksana, Krzysiu, Mikołaj i Marcin</p>
<p><strong>Pozdrawiamy Wszystkie osoby studiujące na Polibudzie xD</strong></p>

<img src="~/img/power.jpg" alt="Upsik - brakuje obrazka" />